section.brands-carousel-section {
  background: #444;
  padding:2.04em 1.4em 2em 1.4em;
}

.brands-title{
  color:#fff;
  font-size:1.5em;
  text-align:center;
  padding-bottom:0.4em;
}

/*.slideshow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}*/

.slideshow .slide {
  width: 380px;
  padding: 0.4em;
}
.slideshow .slick-prev:before,
.slideshow .slick-next:before {
  color: #000;
}

@media only screen and (min-width: 600px){
  .brands-carousel-section .slideshow .slide{
    height: 300px;
  }
}