section.carousel-section {
  background: transparent;
  padding:2em 1.4em 1.4em 1.4em;
}

/*.slideshow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}*/

.slideshow .slide img {
  max-width: 100%;
  width: 100%;
}
.slideshow .slick-prev:before,
.slideshow .slick-next:before {
  color: black;
}
