.contact-section{
	background-color: #000;
}

.contact__wrapper{
	padding: 50px 36px;
}

.form-title-group{
	color: #fff;
	margin-bottom: 30px;
	text-align: center;
}

.form-title-group > h2 {
	margin-top: 0;
	font-weight: 500;
	margin-bottom: 15px;
}

.form-title-group > h4 {
	font-size: 14px;
	font-weight: 200;
}

.form__container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	
}

.text__input {
	padding-left: 10px;
	height: 48px;
	margin-bottom: 15px;
	color: #444;
}

/*.form-group{
	display: flex;
	flex-direction: column;
	margin-bottom: 1.2rem;
}*/


.form-btn{
	height: 48px;
	margin-bottom: 15px;
	background-color: #F7971E;
	border-color: #F7971E;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto';
	fill: #fff;
}

@media only screen and (min-width: 600px){
	.form{
		width: 520px;
	}
}
