.diagram{
	background-color: #444;
	padding: 70px 0;
}

.center-ct{
	display: flex;
	justify-content: center;
}


.diagram__gridcontainer{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns:repeat(6,5vh);
	grid-gap:10px;  
}

.diagram__gridcontainer div{
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
}

.diagram__gridcontainer div:nth-child(1){
	grid-row: 1;
	grid-column: 1/ span 2;
	background-color: #f7971e;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.diagram__gridcontainer div:nth-child(2){
	grid-row: 1;
	grid-column: 3/ span 2;
	background-color: rgba(255,219,47,0.7);
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.diagram__leftword{
	font-size: 40px;
	
}

.diagram__rightword{
	font-size: 40px;
}
