.features__sect{
	padding-top: 1em;
}

.features__wrapper{
	margin: 3em 2em;
}

.features__title{
	font-size: 1.5em;
}

.features__container .features__list {
	padding-left: 10px;
}

.features__list{
	display: grid;
	grid-template-rows: 2em auto 2.6em auto 2.6em auto 2.6em auto 2em;
	grid-template-columns: 1fr;
}

.feature{
	padding-bottom: .4em;
	border-bottom: .2em solid #999;
	list-style: none;
}

.features__list > .feature:nth-child(1){
	grid-row: 2/3;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(2){
	grid-row: 4/5;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(3){
	grid-row: 6/7;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(4){
	grid-row: 8/9;
	grid-column: 1/2;
}

.feature > h3{
	font-weight: 400;
}

.feature > p{
	color: #444;
	font-size: 0.889rem;
}

.feature__icon{
	height: 11.8vh;
}

@media only screen and (min-width: 650px){
	.features__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		column-gap: 1.2em;
		row-gap: 1.4em;
	}

	.feature{
		width: 47%;
	}
}

/* Puede que si puede que no, queda mas o menos, pero tambien pienso que en este tipo de 
proyectos de landing page para promocionar este detalle puede ser opcional para el cliente si prefiere
que sea cada caracteristica en cajas pequenas en pantallas grandes o cajas medianas que se dividirian en
dos filas y dos columnas. */
@media only screen and (min-width: 1045px){
	.features__list{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		column-gap: 1.4em;
		row-gap: 1.4em;
	}

	.feature{
		width: 23%;
	}
}
