.features__sect{
	padding-top: 1em;
}

.features__wrapper{
	margin: 3em 2em;
}

.features__title{
	font-size: 1.5em;
}

.features__container .features__list {
	padding-left: 10px;
}

.features__list{
	display: grid;
	grid-template-rows: 2em auto 4em auto 4em auto 4em auto 2em;
	grid-template-columns: 1fr;
}

.feature{
	padding-bottom: 2em;
	border-bottom: .2em solid #999;
	list-style: none;
}

.features__list > .feature:nth-child(1){
	grid-row: 2/3;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(2){
	grid-row: 4/5;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(3){
	grid-row: 6/7;
	grid-column: 1/2;
}

.features__list > .feature:nth-child(4){
	grid-row: 8/9;
	grid-column: 1/2;
}

.feature__icon{
	height: 11.8vh;
}

