.header{
	background-image: url("https://unsplash.com/photos/qUrJ7sGna4Q/download?force=true&w=640");
/* 	background-image: url("file:///root/src/img/jason-leung-unsplash-640x960.jpg"); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:#fff;
}
.header__marginwrapper{
	margin: 0 2em;
	padding-top: 1.3em;
	padding-bottom: 2em;
}
.header__nav{
	padding-bottom: 1em;
	height: 50px;
}
.header__hero{
	display: grid;
	grid-template-rows: 5px auto 100px auto 90px;
	grid-template-columns: 1fr; 
}
.header__illustration_ct{
	display: flex;
	justify-content: center;
	grid-row: 4/4;
	grid-column: 1;
}
.header__illustration{
	height: 24vh;
}
.header__info{
	grid-row: 2/2;
	grid-column: 1;
	/*background-color: rgba(0,0,0, .4);*/
}
.header__title{
	font-size: 2.2em;
	font-weight: 900;
  	background: -webkit-linear-gradient(#f7971e, rgba(255,219,47,1));
  	background-clip: text;
	  -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	/*color: linear-gradient( 109.6deg,  rgba(255,219,47,1) 11.2%, rgba(244,253,0,1) 100.2% );*/
	/*color: -webkit-linear-gradient(to right, #f7971e, #ffd200)ñ*/
	color: #f7971e;
}
.header__parag{
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 1em;
}
.header__calltoaction{
	padding: 0.4em 0.4em;
	font-size: 18px;
	background-color: rgba(255,219,47,1);
	/*background-color: rgba(244,253,0,1);*/
	color: #222;
	text-decoration: none;
	border-radius: 2px;

	/*text-decoration: underline;*/
	/*rgba(255,219,47,1)*/
}

@media only screen and (min-width: 768px) {
  .header__title{
  	font-size: 2.7em;
  }

  .header__calltoaction{
  	font-size: 20px;
  	padding: 0.5em 0.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .header{
  	height: 94vh;
    	min-height: 860px;
  }
  .header__hero{
		display: grid;
		/*grid-template-rows: 5px auto 20px 120px 160px;*/
		grid-template-rows: 5px auto 20px 90px 100px;
		grid-template-columns: 1fr; 
	}	

  .header__title{
  	font-size: 3.2em;
  }

  .header__calltoaction{
  	font-size: 20px;
  	padding: 0.5em 0.5em;
  }

  .header{
  	background-image: url("https://unsplash.com/photos/bKlYc9g6MrM/download?force=true&w=1920");
  	background-size: cover;
  	background-position: center;
  }
}
