.services{
    background-image: url('https://rafaeldiaz7.github.io/elec-landing-page/src/svgss/services-bg-2.svg');
    /* background-image: url('file:///C:/Users/User1/Documents/elec-landing-page/src/svgss/services-bg-2.svg');  */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.services__title{
    padding-bottom: 1em;
}

.services__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: .4em;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    flex: 1 0.7 400px;
    max-width: 420px;
    overflow: hidden;
    color: #000;
    background: #ffffff;
    border-radius: 3px;
    text-decoration: none;
}

.card__image{
    flex: 0 0 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card__info{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.card__title{
    margin-top: .2em;
    margin-bottom: 0;
}

.card__snippet{
    margin-top: .8em;
    margin-bottom: 1em;
}

.card__link{
    margin-top: auto;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    font-size: 0.667em;
    color:#444;
}