.whats{
	background-color: #a3e3b5;
}
.whats__wrapper{
	padding-top: 1em;
	padding-bottom: 2em;
	margin: 0 3em;
}
.whats__gridcontainer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto; 
}
.whats__imgcontainer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-column: 1/2;
	grid-row: 1/1;
}

.whats__img{
	height: 20vh;
}

.whats__info{
	grid-column: 2/3;
	grid-row: 1/1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.whats__title{
	margin-bottom: 10px;
	font-size: 1.2em;
}

.whats__calltoaction{
	padding: 0.4em 0.6em;
	text-decoration: none;
	color: #fff;
	background-color:green;
}